<main>
    <div class="cal_bar">
        <div class="cal_div">
            <div class="month">      
                <ul>
                  <li>
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <span style="margin: 15px 15px;">August,2020</span>
                    <i class="fa-solid fa-circle-arrow-right"></i>
                  </li>
                </ul>
              </div>
              
              <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
              </ul> 
                <div class="days">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                </div>
                <div class="days">
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li><span class="active">14</span></li>
                </div>
                <div class="days">
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li><span class="active">20</span></li>
                    <li>21</li>
                </div>
                <div class="days">
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                </div>
                <div class="days">
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </div>
        </div>
            
        <div class="employees_div border">
            <i class="fa-regular fa-user"></i>
            <span>Employees</span>
            <span class="fa-solid fa-angle-down" style="float:right;"></span>
        </div>
        <div class="border">
            <div class="employee_name_div">
                <div class="employees_name">
                    <input      type="radio" name="" id="Jon Smith">
                    <label for="Jon Smith">Md Abdul Ajad</label>
                </div>
                <div class="employees_name">
                    <input      type="radio" name="" id="Jon Smith">
                    <label for="Jon Smith">Md Taraj Ali</label>
                </div>
                <div class="employees_name">
                    <input      type="radio" name="" id="Jon Smith">
                    <label for="Jon Smith">Md Ashik Uddin Mandal</label>
                </div>
                <div class="employees_name">
                    <input      type="radio" name="" id="Jon Smith">
                    <label for="Jon Smith">Jon Smith</label>
                </div>
                <div class="employees_name">
                    <input      type="radio" name="" id="Jon Smith">
                    <label for="Jon Smith">Shahadul Alam</label>
                </div>
            </div>
        </div>
        <div class="employees_div border">
            <i class="fa-solid fa-code-branch"></i>
            <span>Branch</span>
            <span class="fa-solid fa-angle-down" style="float:right;"></span>
        </div>
        <div class="employees_div border">
            <i class="fa-solid fa-briefcase"></i>
            <span>Designations</span>
            <span class="fa-solid fa-angle-down" style="float:right;"></span>
        </div>
        <div class="employees_div">
            <i class="fa-solid fa-person-digging"></i>
            <span>Skills</span>
            <span class="fa-solid fa-angle-down" style="float:right;"></span>
        </div>
        <div class="block"></div>
    </div>
    <div class="table_bar">
        <div class="btn_bar">
            <div class="btns_div">
                <button class="btn">Employees View<i class="fa-solid fa-caret-down"></i></button>
                <button class="btn">Week<i class="fa-solid fa-caret-down"></i></button>
            </div>
            <div class="btns_div"><h4>Aug 20-26,2022</h4></div>
            <div class="btns_div">
                <button class="btn">Tools<i class="fa-solid fa-chevron-down"></i></button>
                <button class="btn" style="color: white; background-color: #1abc9c;">Publish</button>
            </div>
        </div>
        <div>
            <table>
                <tr>
                  <th style="width: 20%;">Employees</th>
                  <th style="width: 10%;">Aug 20</th>
                  <th style="width: 10%;">Aug 21</th>
                  <th style="width: 10%;">Aug 22</th>
                  <th style="width: 10%;">Aug 23</th>
                  <th style="width: 10%;">Aug 24</th>
                  <th style="width: 10%;">Aug 25</th>
                  <th style="width: 10%;">Aug 26</th>
                </tr>
                <tr>
                  <td>
                    <div class="employee_prof">
                            <div>
                                <img src="Image/face.png" alt="">
                            </div>
                            <div class="Employees_details">
                                <p>Brendaro Galaviz</p>
                                <small>Web Devoloper</small>
                            </div>
                    </div></td>
                  <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                  <td></td>
                  <td><h1 style="color: #1abc9c;background-color: #d2efe2;padding: 10px;">+</h1></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed" style="background-color: #1abc9c; color: white;">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
                <tr>
                  <td><div class="employee_prof">
                    <div>
                        <img src="Image/face.png" alt="">
                    </div>
                    <div class="Employees_details">
                        <p>Brendaro Galaviz</p>
                        <small>Web Devoloper</small>
                    </div>
            </div></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="dashed">6:30am-9:30pm (14 hrs 15 mins) Web Designer</div></td>
                </tr>
              </table>
        </div>
    </div>
</main>