<nav>
    <div class="nav_container">
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-border-all"></i>
            <h5>Dashboard</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-regular fa-calendar-days"></i>
            <h5>ShiftPlanning</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-regular fa-clock"></i>
            <h5>Time Clock</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-regular fa-handshake"></i>
            <h5>Availabilitiy</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-regular fa-calendar-xmark"></i>
            <h5>Leave</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-chalkboard-user"></i>
            <h5>Trainning</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-users"></i>
            <h5>Staff</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-wallet"></i>
            <h5>Payroll </h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-file-lines"></i>
            <h5>Reports</h5>
        </div></a>
        <a href=""><div class="nav_item">
            <i class="fa-solid fa-circle-info"></i>
            <h5>More</h5>
        </div></a>
    </div>
</nav>
<!-- main nav end -->